<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Student Cards!</title>
    <link rel="stylesheet" href="../static/UI-Card/card.css">
</head>
<body>
<div class="ui link centered cards">
        <div class="card">
            <div class="image">
                <img src="http://ice.xjtlu.edu.cn/pluginfile.php/13213/user/icon/xjtlu/f1?rev=42702.png">
            </div>
            <div class="content">
                <div class="header">{{ student.name }}</div>
                <div class="description">Hi, Look at my personal page:  <a href="{{ student.url }}">here~</a></div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://ice.xjtlu.edu.cn/pluginfile.php/13213/user/icon/xjtlu/f1?rev=42702.png">
            </div>
            <div class="content">
                <div class="header">{{ student.name }}</div>
                <div class="description">Hi, Look at my personal page:  <a href="{{ student.url }}">here~</a></div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://ice.xjtlu.edu.cn/pluginfile.php/13213/user/icon/xjtlu/f1?rev=42702.png">
            </div>
            <div class="content">
                <div class="header">{{ student.name }}</div>
                <div class="description">Hi, Look at my personal page:  <a href="{{ student.url }}">here~</a></div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://ice.xjtlu.edu.cn/pluginfile.php/13213/user/icon/xjtlu/f1?rev=42702.png">
            </div>
            <div class="content">
                <div class="header">{{ student.name }}</div>
                <div class="description">Hi, Look at my personal page:  <a href="{{ student.url }}">here~</a></div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://ice.xjtlu.edu.cn/pluginfile.php/13213/user/icon/xjtlu/f1?rev=42702.png">
            </div>
            <div class="content">
                <div class="header">{{ student.name }}</div>
                <div class="description">Hi, Look at my personal page:  <a href="{{ student.url }}">here~</a></div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://ice.xjtlu.edu.cn/pluginfile.php/13213/user/icon/xjtlu/f1?rev=42702.png">
            </div>
            <div class="content">
                <div class="header">{{ student.name }}</div>
                <div class="description">Hi, Look at my personal page:  <a href="{{ student.url }}">here~</a></div>
            </div>
        </div>
</div>
</body>
</html>
